/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

:root {
  --primary-color: rgb(241, 241, 241);
  --secondary-color: rgb(0, 181, 127);
  --tertiary-color: rgb(0, 141, 98);
  --primary-text-color: rgb(0, 0, 0);
  --secondary-text-color: rgb(95, 95, 95);
  --shadow: 0px 1px 2px rgba(37, 37, 37, 0.4);
  --font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

hr {
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid rgb(201, 201, 201);
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px auto;
}

h1, h2, h3 {
  margin: .3rem 0;
}

#form {
  background-color: white;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: var(--shadow);
  max-width: 800px;
}

/* Animation */
@keyframes fadein {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}
/* /Animation */

#form h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: .8rem;
  text-transform: capitalize;
}

#logo {
    color: var(--first-color);
    margin-bottom: 1.5rem;
}

#side-menu {
    font-size: 1rem;
    padding: 1.2rem;
    background-color: white;
}

#side-menu ul {
    list-style: none;
}

#side-menu ul li {
    /* border-bottom: 1px solid var(--secondary-text-color); */
    padding: .8rem 0;
}

#side-menu a {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: block;
    transition: .3s;
}

#side-menu a:hover {
  color: var(--primary-text-color);
}

#side-menu a.active {
  color: white;
}

#main-content {
    padding: 2rem;
    overflow: auto;
    animation: fadein .3s;
    position: relative;
}

/* #main-content .details > * {
  margin: 0 1.5rem;
} */

#main-content .account {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1.5rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
    box-shadow: var(--shadow);
}

#main-content h3 {
  position: absolute;
  left: 330px;
  font-weight: normal;
  text-transform: uppercase;
}

#main-content p {
  position: absolute;
  left: 480px;
}

#main-content .balance {
  position: absolute;
  left: 700px;
  font-weight: 500;
  font-size: 1.2rem;
}

#main-content .details {
    display: flex;
    justify-content: center;
    align-items: center;

}

#actions {
    margin-top: 1rem;
}

#actions button {
    background-color: var(--first-color);
    color: var(--secondary-color);
    padding: .5rem;
    font-size: 1.1rem;
    border: 0;
    cursor: pointer;
    transition: .3s;
    border-radius: 3px;
    margin-right: .3rem;
}

#actions button:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

#transactions {
    padding: 2rem;
    border-radius: 3px;
    background-color: white;
    box-shadow: var(--shadow);
    
}

#transaction-div {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.transaction-item {
  display: grid;
  grid-template-columns: 200px auto 100px;
  padding: .8rem;

}

#transactions table {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

#transactions th {
    padding-bottom: 1rem;
    font-weight: normal;
}

#transactions table th, td  {
    border-bottom: 1px solid rgba(59, 49, 40, .2);
}

#transactions table td:nth-child(1), #transactions table td:nth-child(2), 
    #transactions th td:nth-child(2) {
    text-align: left;
    padding: .8rem;
}

#transactions table td:nth-child(3), #transactions table td:nth-child(4) {
    text-align: right;
    padding: .8rem;
}

#login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  width: 100%;
  display: block;
}
#login {
  background-color: white;
  max-width: 500px;
  width: 100%;
  padding: 2rem;
  border-radius: 3px;
  box-shadow: var(--shadow);
}

#login #logo {
  color: var(--text-color);
  font-size: 2.8rem;
  text-align: center;
}

#login label, label {
  text-transform: uppercase;
  margin-bottom: .3rem;
  margin-top: .6rem;
  color: rgba(59, 49, 40, .6);
}

#login input, input, select, textarea {
  font-family: var(--font-family);
  outline: none;
  width: 100%;
  font-size: 1.2rem;
  padding: .3rem .5rem;
  border-radius: 3px;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  border: 1px solid var(--text-color);
}

.btn, .btn2 {
  background-color: var(--secondary-color);
  color: white;
  padding: .7rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  transition: .3s;
  border-radius: 3px;
  margin: 1rem 0 0 0;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
}

.btn2 {
  display: inline-block;
  width: auto;
}

.btn:hover, .btn2:hover {
  background-color: var(--tertiary-color) ;
  color: white;
}

.msg {
  display: block;
  width: 100%;
  text-align: center;
  padding: .5rem;
  border-radius: 3px;
}

.danger {
  color: red;
  background-color: rgba(255, 0, 0, .1);
}

.success {
  color: green;
  background-color: rgba(0, 128, 0, .1);
}

input:disabled {
  border: 1px solid #CCC;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
  padding-left: 0;
}

.transfer-icon {
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
}

.main {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#form.budget {
  width: 100%;
  max-width: 1280px;
}

.budget-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(126, 126, 126, 0.5);
}
.modal {
  animation: fadein .3s;
  background-color: white;
  padding: 2rem;
  border-radius: .5rem;
  box-shadow: var(--shadow);
  width: 500px;
  position: absolute;
  left: calc(50% - 250px);
  top: calc(40% - 250px);
  text-align: center;
}

.modal button {
  margin: .35rem;
  margin-top: 1.4rem;
}

.modal label {
  text-align: left;
}

.btn-muted {
  background-color: rgba(219, 204, 163, .3);
  color: var(--secondary-text-color);
}

.modal input[type=number] {
  text-align: right;
}

.modal textarea {
  height: 100px;
}

.modal h2 {
  margin-bottom: 1rem;
}

.budget-row {
  padding: .8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.odd {
}

.even {
  background-color: rgba(238, 238, 238, .5);
}

.budget-title {
  display: inline-block;
  width: 100%;
}

.budget-title span {
  cursor: pointer;
}

.mr {
  margin-right: .7rem;
  font-size: 1.3rem;
  background-color: rgba(219, 204, 163, .4);
  color: var(--text-color);
  border: none;
  padding: .1rem .3rem;
  padding-top: .4rem;
  border-radius: 5px;
  font-weight: 800;
}

.mr:hover {
  background-color: rgba(255, 0, 0, .2);
  color: red;
  cursor: pointer;
}

.title {
  text-transform: capitalize;
}
